html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

.toppadding{
 margin-top:20px;
}

footer {
  margin-top: auto;
}

hr{
  height: 0px;
  border: none;
  border-top: 3px solid gray;
}
